* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #080808;
  color: #eee;
  font-family: Helvetica, Arial;
  font-size: 2vmin;
}

.App {
  text-align: center;
  display: flex;
  justify-content: left;
  flex-direction: row;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hidden {
  display: none;
}

.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  /*filter: blur(8em) opacity(0.6);*/
  position: absolute;
}

.main-wrapper {
  padding-top: 45px;
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  width: 80%;
  z-index: 1;
}

.PlaylistInfo {
  padding: 0.5em;
  align-items: center;
  display: flex;
  height: 25%;
  justify-content: left;
  position: relative;
  width: 100%;
  z-index: 1;
  text-align: left;
  flex-direction: row;
  background-color: #222;
  border-radius: 10px 10px 0px 0px;
}

.main-wrapper3 {
  padding: 0.5em;
  align-items: center;
  display: flex;
  height: 25vh;
  margin-bottom: 1vh;
  justify-content: left;
  width: 99%;
  text-align: left;
  background-color: #222;
  border-radius: 10px;
}

.Input {
  width: 150px;
  padding: 8px;
  border: none;
  border-radius: 20px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Input::placeholder {
  color: #aaa;
}

.Input:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.SongBox {
  display: flex;
  width: 100%;
  overflow-y: auto;
  max-height: 74.5%;
  margin-top: 1vh;
  padding-top: 0;
  align-items: center;
  background-color: #111;
  flex-direction: column;
  border-radius: 0px 0px 10px 10px;
  font-size: 1.5vmin;
  scrollbar-width: thin;
  scrollbar-color: #282c34 #111;
}

.SongBox::-webkit-scrollbar {
  width: 6px;
}

.SongBox::-webkit-scrollbar-thumb {
  background-color: #282c34;
  border-radius: 3px;
}

.SongBox::-webkit-scrollbar-track {
  background-color: #111;
}

.main-wrapper4 {
  padding: 0em;
  align-items: center;
  display: flex;
  height: 100%;
  margin-left: 2.5%;
  justify-content: left;
  position: static;
  width: 32.5%;
  z-index: 1;
  text-align: left;
}

.Playlist {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-size: 2.5vmin;
}

.MainBox {
  display: flex;
  align-items: center;
  width: 80vw;
  max-height: 89vh;
  margin: 1vh;
  margin-bottom: 0vh;
  flex-direction: column;
  background-color: #111;
  border-radius: 10px;
  font-size: 2.5vmin;
}

.LeftBoxes {
  display: flex;
  align-items: center;
  width: 20vw;
  max-height: 89vh;
  margin: 1vh;
  margin-bottom: 0vh;
  margin-right: 0;
  flex-direction: column;
  background-color: #080808;
  border-radius: 10px;
  font-size: 2.5vmin;
}

.GoToMainMenuBox {
  height: 10vh;
  width: 100%;
  margin-bottom: 1vh;
  background-color: #111;
  border-radius: 10px;
}

.UserPlaylistsBox {
  height: 78vh;
  width: 100%;
  background-color: #111;
  border-radius: 10px;
}

.WebPlayer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notActive {
  display: flex;
  height: auto;
}
.Active {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  flex-direction: row;
}

.playbackBtns {
  position: relative;
  display: flex;
  top: 25%;
  height: 50%;
  width: 30%;
  text-align: center;
  justify-content: center;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.main-container {
  flex: 1;
}

.now-playing__name {
  font-size: 0.8em;
  margin-bottom: 0.2em;
}

.now-playing__artist {
  font-size: 0.6em;
  margin-bottom: 0.5em;
}

.now-playing__status {
  margin-bottom: 1em;
}

.now-playing__cover {
  border-radius: 8px;
  float: left;
  margin-left: 10px;
  text-align: right;
  width: 80px;
  height: 80px;
}

.track_cover {
  border-radius: 8px;
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 100px;
  height: 100px;
}

.now-playing__side {
  margin-left: 2%;
  width: 100%;
}

.btn-spotify {
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: flex;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.btn-spotify:active {
  position: relative;
  top: 1px;
}

img {
  background: transparent;
}
