.Playlist {
  display: flex;
  align-items: center;
  width: 80vw;
  height: 89vh;
  flex-direction: column;
  font-size: 2.5vmin;
}

.PlaylistInfo {
  padding: 0.5em;
  align-items: center;
  display: flex;
  height: 20vh;
  justify-content: left;
  position: relative;
  width: 100%;
  z-index: 1;
  text-align: left;
  flex-direction: row;
  background-color: #222;
  border-radius: 10px 10px 0px 0px;
}

.main-container.tracks {
  width: 79.7vw;
}

.container.track {
  width: 79.4vw;
}

.track_cover {
  border-radius: 0px;
  float: left;
  text-align: right;
  width: 2.5vmax;
  height: 2.5vmax;
}

.everythingElse {
  width: 61vw;
  display: flex;
}
