.Playlist {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-size: 2.5vmin;
}

.main-container.tracks {
  width: 78.7vw;
}

.container.track {
  width: 78.4vw;
}

.container.playlistInfo {
  width: 79.4vw;
  padding: 0.6vmax;
  height: 100%;
}

.container.playlistInfo:hover {
  cursor: default;
}

.main-container.playlistInfo {
  width: 100%;
  height: 20vh;
  height: 20vh;
  flex-direction: row;
  background-color: #222;
  margin: 0;
  border-radius: 10px 10px 0px 0px;
  align-items: center;
  overflow-y: visible;
}

.main-container.playlistInfo:hover {
  overflow-y: visible;
}

.coverImg.track {
  border-radius: 0px;
}

.coverImg.playlistInfo {
  width: max-content;
  height: 100%;
}

.everythingElse {
  width: 59.1vw;
  display: flex;
}

.imageAndTitle.playlistInfo {
  height: 100%;
}
